/*
* CSS for community graph
*/

.node {
        stroke:#000000;
        stroke-width: 2 px;
    }

  .link {
        stroke: #bdbdbd;
        stroke-opacity: .6;
  }


.community-graph-legend{
    text-align:right;
    list-style:none;
    padding:0px;
    margin:10px 0px;
}
.community-graph-legend li{
    display:inline;
    margin-left:2em;
}



.color1{ background:#ffc107; }
.color2{ background:#ce93d8; }
.color3{ background:#4db6ac; }
.color4{ background:#cddc39; }
.color5{ background:#f48fb1; }

.text-color1{color:#fa574b; }
.text-color2{color:#1c40fb; }
.text-color3{color:#3ec2ee; }
.text-color4{color:#e51000; }
.text-color5{color:#f48fb1; }


.cGraph{
    max-width: 100%;
    height:600px;
    outline: 1px solid black;
    background: #ffffff;
}

.WCcontainer{
     max-width: 100%;
        height:200px;
        outline: 1px solid black;
        background: #ffffff;
        padding: 5px;

}
